@page
@model HelloWorld.Pages.CallApiJwkModel
@{
    <p>Calling hello world api with client credentials with added jason web key security. See <a href="https://docs.duendesoftware.com/identityserver/v6/tokens/authentication/jwt/">duende documentation</a> for more info.</p>

    <table class="table">
        <tr>
            <td>Access Token</td>
            <td><code><small>@Model.AccessToken</small></code></td>
        </tr>
        <tr>
            <td>Refresh Token</td>
            <td><code><small>@Model.RefreshToken</small></code></td>
        </tr>
        <tr>
            <td>Api Response</td>
            <td><code><small>@Model.ApiResponse</small></code></td>
        </tr>
    </table>
}
