@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Very simple demo, using duende identity server as <a href="https://en.wikipedia.org/wiki/Identity_provider">IdP</a></p>
</div>
