@page
@using Microsoft.AspNetCore.Identity
@model ListMyClaimsModel
@{
    ViewData["Title"] = "List My Claims";
}
<h1>Hello Dear @User.Identity.Name</h1>


<h2>User Claims</h2>
<table class="table">
@foreach (var clm in User.Claims)
{
    <tr><td>@clm.Type</td><td>@clm.Value</td></tr>
}
</table>